<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.appanel.app"
    version   = "2.0.0">

<name>APPanel</name>

<description>
Panel de control gerencial para empresarios con movilidad.
</description>
<preference name="phonegap-version" value="3.3.0" />
<preference name="fullscreen" value="true" />
<icon src="img/icon_grande.png" />
<gap:splash src="img/splashok.png" />
<preference name="splash-screen-duration" value="5000" />
<preference name="exit-on-suspend" value="true" />



<author href="http://www.laboratoriodebytes.com.ar" email="contacto@leocondori.com.ar">
Desarrollador: Leonardo Condori
</author>

</widget>
